.skeletonProfile {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.headerInfo {
  margin-left: 20px;
}

.details {
  display: grid;
  gap: 15px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
}